<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-4">
      <app-card [cardTitle]="dataCard[0].cardTitle" [description]="dataCard[0].description" [buttonText]="dataCard[0].buttonText" ></app-card>
    </div>
    <div class="col-4 ">
      <app-card></app-card>
    </div>
    <div class="col-4">
      <app-card></app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <app-card></app-card>
    </div>
    <div class="col-4">
      <app-card></app-card>
    </div>
    <div class="col-4">
      <app-card></app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa un nombre">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Apellidos:</label>
        <input type="text" class="form-control" id="apellidos" placeholder="Ingresa tus apellidos">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Fecha de nacimiento:</label>
        <input type="date" class="form-control" id="fecha_nac" placeholder="Ingresa una fecha de nacimiento">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nacionalidad:</label>
        <input type="text" class="form-control" id="nacionalidad" placeholder="Ingresa tu Nacionalidad">
      </div>

      <button type="button" class="btn btn-primary">Registrar</button>
      <button type="button" class="btn btn-danger" style="margin-left: 10px;">Cancelar</button>
    </div>
  <div class="col-6">
  <span class="badge bg-primary">Primary</span>
  <span class="badge bg-secondary">Secondary</span>
  <span class="badge bg-success">Success</span>
  <span class="badge bg-danger">Danger</span>
  <span class="badge bg-warning">Warning</span>
  <span class="badge bg-info">Info</span>
  <span class="badge bg-light">Light</span>
  <span class="badge bg-dark">Dark</span>
  </div>
  </div>
</div>

